@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --theme: #ffffff;
  --scrollbar: rgba(80, 80, 80, 0.85);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.5vw;
}

*::-webkit-scrollbar-track {
  background: var(--theme);
}

*::-webkit-scrollbar-thumb {
  border: 3px solid var(--scrollbar);
}

/* Horizontal Scrollbar */
*::-webkit-scrollbar-thumb:horizontal {
  border: 3px solid var(--scrollbar);
}
